@charset 'utf-8';
@import './var.scss';

.index-banner {
    min-height: 400px;
    // height: 700px;
    overflow: hidden;
    background-color: $var_back_color;
    position: relative;
}
.banner-data {
    position: absolute;
    height: $banner_data_height;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: $footer_bg_color;
}
.banner-data-c {
    height: $banner_data_height;
    line-height: $banner_data_height;
    text-align: left;
}
.banner-data-list {
    position: relative;
    display: inline-block;
    line-height: 1;
    width: 24.6%;
    vertical-align: middle;
    color: $index_font_white;
    padding-left: 32px;
    font-size: 16px;
    &:first-child {
        padding-left: 0;
    }
}
.bd-list-line {
    position: absolute;
    width: 2px;
    height: 36px;
    right: 0;
    top: 50%;
    margin-top: -18px;
    background-color: $banner_data_font_color;
}
.bd-list-title {
    color: $banner_data_font_color;
    padding-bottom: 10px;
    font-size: 14px;
}


// 产品优势
.index-prod, .index-ideas {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #ffffff;
}
.index-con-box {
    text-align: center;
    overflow: hidden;
}
.index-prod-title {
    font-size: 30px;
    padding-bottom: 50px;
}
.index-prod-list {
    display: inline-block;
    width: 19.6%;
    padding: 0 40px;
    overflow: hidden;
    vertical-align: top;
}
.prod-list-img {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #f1f1f1;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;
    .img {
        display: inline-block;
        vertical-align: middle;
    }
}
.prod-list-name {
    padding-top: 30px;
    padding-bottom: 20px;
}
.prod-list-ind {
    font-size: 12px;
    line-height: 1.8em;
    color: #999999;
}

.index-ideas {
    height: 600px;
    background-color: $var_back_color;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/bg8.png);
    background-size: 100% 100%;
}

// 方案说明
.index-ideas-c {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 60px;
    z-index: 1;
}
.index-idea-title {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 20px;
}
.index-idea-navs {
    width: 410px;
    height: 41px;
    margin: 0 auto;
    border-bottom: 1px solid #8a9c9e;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
}
.index-idea-nav {
    display: inline-block;
    padding: 0 14px;
    position: relative;
    cursor: pointer;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: transparent;
    }
    &:hover, &.active {
        color: $banner_data_font_color;
        &::after {
            background-color: $banner_data_font_color;
        }
    }
}
.index-idea-tabs {
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    color: #ffffff;
}
.index-idea-tab {
    display: inline-block;
    overflow: hidden;
    margin: 0 18px;
    padding: 3px 9px;
    &:hover, &.acitve {
        color: #ffffff;
        background-color: $banner_data_font_color;
    }
}
.index-idea-lists {
    text-align: center;
    padding-top: 40px;
}
.index-idea-list {
    display: inline-block;
    width: 240px;
    height: 120px;
    margin-right: 10px;
    line-height: 1.5em;
    // border: 1px solid $index_font_white;
    background: url(../images/r2.png) center center no-repeat;
    border-radius: 4px;
    position: relative;
    padding: 4px;
    text-align: left;
    color: $index_font_white;
    vertical-align: top;
}
.index-idea-inds {
    width: 228*4px;
    margin: 0 auto;
    padding-top: 30px;
    line-height: 1.8em;
    color: $index_font_white;
}
.index-try {
    height: $index_try_height;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/bg1.png);
    background-size: 100% 100%;
}
.index-try-c {
    height: $index_try_height;
    line-height: $index_try_height;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}
.index-try-ind {
    font-size: 24px;
    padding-right: 60px;
}
.index-try-ind-num {
    font-size: 28px;
    font-weight: 28px;
}
.index-try-btn {
    display: inline-block;
    width: 140px;
    height: 44px;
    line-height: 44px;
    // border-radius: 22px;
    font-size: 16px;
    // background-color: $banner_data_font_color;
    background: url(../images/r1.png) center center no-repeat;
    background-size: 100% 100%;
}

/********* pages **********/
.page-banner {
    min-height: 200px;
    overflow: hidden;
    position: relative;
    // height: 500px;
}
.page-banner-txt {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
}
.page-banner-show {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 40px;
}
.page-banner-show2 {
    position: absolute;
    width: 17.2%;
    overflow: hidden;
    bottom: 0;
    left: 670px;
}
.page-banner-show3 {
    position: absolute;
    width: 10.1%;
    overflow: hidden;
    bottom: 10px;
    left: 400px;
}
.page-banner-show-left {
    text-align: center;
    width: 540px;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    .show-left-title {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .show-left-ind {
        padding-top: 16px;
        padding-bottom: 32px;
        color: #eeeeee;
    }
    .show-left-btn1 {
        width: 100px;
        height: 30px;
        margin: 0 auto;
        line-height: 30px;
        font-size: 12px;
        border-radius: 4px;
        background-color: $head_font_hover_color;
        opacity: 0.8;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .show-left-bot {
        font-size: 12px;
        padding-top: 20px;
    }
}
.page-banner-show-right {
    color: #ffffff;
    width: 500px;
    text-align: left;
}
.show-right-list {
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.8em;
}
.page-list-c1 {
    background-color: $page_bg_color1;
}
.page-list-c2 {
    background-color: $page_bg_color2;
}
.page-func{
    text-align: center;
}
.page-func-c {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.page-func-title {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.page-mc-ind-txt {
    font-size: 12px;
    line-height: 1.8em;
    padding-top: 16px;
}
.page-func-ind {
    line-height: 1.8em;
    color: #8a9c9e;
}
.page-long-range {
    padding: 40px 0;
    .long-range {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }
}
.long-range-img {
    display: inline-block;
    width: 574px;
    height: 327px;
    // background-color: #cccccc;
}
.long-range-img1 {
    width: 480px;
    height: 320px;
}
.long-range-ind {
    display: inline-block;
    width: 420px;
    height: 340px;
    line-height: 340px;
    padding-left: 20px;
    vertical-align: top;
}
.range-ind-tag {
    display: inline-block;
    width: 70px;
    // height: 60px;
    overflow: hidden;
    vertical-align: middle;
    // line-height: 50px;
    // border-radius: 100%;
    // background-color: $head_font_hover_color;
    // text-align: center;
    // font-weight: bold;
    // font-size: 24px;
}
.range-ind-txt {
    display: inline-block;
    width: 300px;
    line-height: 1.8em;
    padding-left: 40px;
    overflow: hidden;
    vertical-align: middle;
}
.range-ind-t {
    color: #999999;
}
// 手机取证
.page-prod-lists {
    .index-prod-list {
        width: 30%;
        padding: 0 80px;
    }
}
// 证据查询
.page-check-banner {
    min-height: 600px;
    position: relative;
    background: url(../images/bg.png) center center no-repeat;
    background-size: 100% 100%;
}
.page-check-c {
    // position: absolute;
    width: 660px;
    min-height: 440px;
    // left: 50%;
    // top: 100px;
    // margin-left: -330px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #000000;
    box-shadow: 0 0 5px #cccccc;
    padding: 30px 45px;
    // padding-bottom: 30px;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(../images/q1.png);
    background-size: 100% 100%;
}
.page-check-title {
    // padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 28px;
    border-radius: 4px;
    color: $head_font_hover_color;
}

// 主页面输入框样式
.page-input-box {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    position: relative;
    color: #ffffff;
}
.page-input-label {
    display: inline-block;
    width: 120px;
    // padding-right: 20px;
    color: #ffffff;
}
.page-input-required {
    padding-right: 14px;
    color: red;
}
.page-input-vals {
    display: inline-block;
    width: 400px;
    height: 60px;
    position: relative;
    border-bottom: 1px solid $login_btn_color;
}
.page-input-code {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 140px;
    top: 50%;
    margin-top: -15px;
    background: #999999;
}
.page-input-val {
    width: 100%;
    height: 100%;
    background-color: inherit;
    // border-bottom: 1px solid $login_btn_color;
    color: #ffffff;
    // &:focus {
    //     border-bottom-color: $head_font_hover_color;
    // }
}
.page-input-btn {
    width: 284px;
    height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    line-height: 40px;
    background-color: $head_font_hover_color;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.page-select-vals {
    cursor: pointer;
    .page-input-val {
        width: 300px;
    }
}
.page-select-box {
    display: inline-block;
    width: 90px;
    line-height: 1.5em;
    position: relative;
    text-align: center;
}
.page-select-val {
    width: 100%;
    height: 100%;
    background: url(../images/bot.png) 90% center no-repeat;
    background-size: 16px auto;
    &:hover {
        .page-select-drops {
            display: block;
        }
    }
}
.page-select-drops {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    text-align: center;
    z-index: 1;
    background-color: #000000;
    box-shadow: 0 0 5px #f1f1f1;
    display: none;
}
.select-val-list {
    &:hover {
        color: $head_font_hover_color;
    }   
}
// 资费标准
.page-banner300 {
    min-height: 100px;
    overflow: hidden;
    // height: 300px;
}
.page-mc {
    padding: 40px 0;
    text-align: center;
}
.page-mc-list {
    display: inline-block;
    width: 500px;
    height: 540px;
    margin: 0 30px;
    border-radius: 8px;
    border: 1px solid $head_font_hover_color;
    vertical-align: top;
    text-align: center;
}
.mc-list-title {
    padding: 20px 0;
    font-size: 18px;
}
.mc-list-price {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    background-color: #f1f1f1;
    color: $head_font_hover_color;
    font-weight: bold;
    vertical-align: baseline;
}
.mc-list-pirce-num {
    font-size: 20px;
}
.mc-list-select {
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 5px;
    text-align: left;
    padding-left: 18px;
    vertical-align: middle;
}
.mc-list-select-name {
    padding-left: 18px;
}
.mc-list-label {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid $login_btn_color;
    position: relative;
    .mc-list-label-c {
        // display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 8px;
        height: 8px;
        margin-left: -4px;
        margin-top: -4px;
        border-radius: 1px;
        background-color: $head_font_hover_color;
        display: none;
    }
    &::hover {
        border-color: $head_font_hover_color;
    }
    &.active {
        border-color: $head_font_hover_color;
        .mc-list-label-c {
            display: block;
        }
    }
}
.mc-list-select-price {
    float: right;
    padding-right: 40px;
    color: $head_font_hover_color;
}
.mc-list-select-ind {
    padding-left: 18px * 3;
    padding-right: 40px;
    text-align: left;
    line-height: 1.8em;
    padding-bottom: 25px;
}
.mc-list-btn {
    width: 450px;
    height: 44px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border: 1px solid $head_font_hover_color;
    &.active {
        background-color: $head_font_hover_color;
        color: #ffffff;
    }
}

.page-mc-ind {
    padding: 0 70px 40px 70px;
    text-align: left;
}
.mc-ind-title-tag {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 5px;
    // background-color: #ff11ff;
    border-radius: 100%;
    overflow: hidden;
}
// 关于平台
.page-about-lists {
    .index-prod-list {
        width: 20%;
    }
}
