$back_color: #006dd2;
// 头部字体主颜色
$head_font_color: #fff;
// 头部导航字体hover颜色
$head_font_hover_color: #00ccfe;
// 头部字体大小
$head_font_size: 16px;
// 自定义背景色 后面里面加入图片之后 去掉即可
$var_back_color: #f1f1f1;
// 头部高度
$head_height: 70px;
// 头部登陆注册按钮 颜色
$login_btn_color: #8a9c9e;


// 底部背景色
$footer_bg_color: #222224;
// 底部字体主颜色
$footer_main_font_color: #ffffff;
// 底部字体副颜色
$footer_ind_font_color: #bcbcbc;


// index.html
$banner_data_height: 100px;
$banner_data_font_color: #00ccfe;
$index_font_white: #ffffff;
$index_try_height: 170px;


// page
$page_bg_color1: #ffffff;
$page_bg_color2: #f1f1f1;

